.search {
    &__input {
        padding: 1rem;
        min-width: 70%;
        border-radius: 20px;
        outline: none;
        border: 1px solid $color-link-hover;
        transition: 0.3s;
        &:hover {
            border: 1px solid rgb(231, 165, 231); 
            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        }
    }
    &__form {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn {
        background: linear-gradient(90deg, rgba(144,11,176,1) 0%, rgba(199,41,207,1) 100%);
        padding: 0.8rem 2rem;
        border-radius: 20px;
        border: none;
        color: white;
        font-size: 18px;
        cursor: pointer;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        transition: 0.3s;
        &:hover {
            opacity: 0.9;
        }
    }

}